<h1>Welcome to <%= @crm_app_name %>!</h1>
<p>Main Menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
    <li><a href= "/contacts/new">Add a new contact<a></li>
    <li><a href= "/contacts/edit_contact">Edit a contact<a></li>
      <li><a href= "/contacts/search_by_attribute">Search by attribute<a></li>
        <li><a href= "/contacts/delete">Delete a contact<a></li>
        </ul>
